@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

* {
    font-family: 'Oswald', sans-serif;

    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(135deg, #293139 0%, #0D0F12 100%);
    overflow: hidden;

    position: relative;

}

#network-page {
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */

    background-image: linear-gradient(135deg, #293139 0%, #0D0F12 100%);

    visibility: visible;
}

.appbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(-90deg, #191E23 0%, #272F37 100%);
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.47);

   z-index: 5;
    
}

#svg-graph {
    z-index: 0;
}

.series-nav {
    
    display: flex;
    justify-content: start;
    align-items: center;

    position: relative;

    padding: 20px 0 20px 20px;
    
}

.arrow {

    vertical-align: middle;
}

.arrow:hover {
    cursor: pointer;
}

.arrow svg:hover #prevNet, .arrow svg:hover #nextNet{
    stroke: #BD82FF;
}

#leftArrow {   
    margin-left: 20px;
    margin-right: 20px;
}

#rightArrow {
    margin-left: 20px;
}

#series-title {
    display: inline-block;
   
    /* font-family: 'Oswald', sans-serif; */
    font-weight: 500;
    font-size: 1.5em;
    color: white;
}

.nodes:hover {
    cursor: pointer;
}

#detail-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(135deg, #293139 0%, #0D0F12 100%);

    font-weight: 200;
    font-size: 18px;
    color: white;
}

#network-page.hidden, #detail-page.hidden {
    visibility: hidden;
}


.bg-image {
    position: absolute;
    right: -10px;
    top: -70px;
    z-index: 0;
}

.bg-filter {
    position: absolute;
    top: 0;
    left: 0;
   bottom: 0;
   right: 0;
    background-image: linear-gradient(-135deg, rgba(41,49,57, 0.7) 0%, rgba(13, 15, 18, 0.9) 100%);

    z-index: 5;
}

.content {
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;

    z-index: 10;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: transparent;
}

.back-container:hover {
    cursor: pointer;
}

.back-btn {
    display: inline-block;
    background-color: transparent;
    border: none;
    margin-right: 20px;
    vertical-align: middle;
}

.back-btn:hover {
    cursor: pointer;
}

.back-label-container {
    display: inline-block;
    height: 100%;
    position: flex;
    align-content: center;
}

.back-label {
    font-weight: 200;
    font-size: 14px;
    color: rgb(100, 100, 100);
}

.back-label:hover {
    color: white;
}

.text-info, .sentiment-analysis {
    position: relative;
    width: 100%;
    padding-left: 64px;

}

h1 {
    font-weight: 600;
    font-size: 36px;
}

.text-info article {
    width: 490px;
    font-weight: 200;
    font-size: 18px;
    color: rgb(150, 150, 150);

    margin-top: 20px;
    margin-bottom: 30px;
}

.link-btn {
    text-decoration: none;
   
    color: #BD82FF;
}

.link-btn:hover {
    cursor: pointer;
}

.sentiment-analysis {
    padding-top: 100px;
    margin-bottom: 30px;
    height: 700px;
}

h2 {
    font-weight: 200;
    font-size: 28px;
}

.sentiment-graph {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 320px;
    /* background-color: black; */
    margin-top: 80px;
}

.y-axis {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    width: 100px;
    height: 100%;
    margin-left: 20px;
    /* background-color: black; */
}

.y-axis-label {
    color: rgb(150, 150, 150);
}

.x-axis {
    position: relative;
    margin-left: 20px;
    /* background-color: black; */
    width: 1400px;
    height: 100%;
    overflow: hidden;
}

.axis-line-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 10;
}

.axis-line {
    position: relative;
    background-color: rgb(60, 60, 60);
    width: 100%;
    height: 1px;
    top: 160px;
}

.data-dot-area {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    /* background-color: black; */
    z-index: 15;

    overflow-x: scroll;
    overflow-y: hidden;

}

.data-dot-container {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 100%;
    margin-right: 2px;
}

.data-dot {
    position: relative;
    top: 155px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #DE2F6D;
}

.data-dot:hover {
    cursor: default;
}

#dot-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    visibility: hidden;

    z-index: 20;
}

#dot-label:hover {
    cursor: default;
}